<div class="col-xs-12 col-sm-12 col-md-12" ng-controller="ExpenseCtrl">

  <h1>Nuova spesa</h1>
  <h3>
    Compila i dati per inserire la nuova spesa in archivio
    <br>
    <small class="block">
      I campi annotati con <font color="red">*</font> sono obblicatori e devono dunque essere valorizzati affinch&egrave; l'inserimento dello spesa nel sistema vada a buon fine. 
    </small>
  </h3>
  <div class="well" style="margin-top: 30px;">
    <form id="new-outgoing-form" name="insertOutgoing" novalidate>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group">
          <label for="desc">Descrizione(minimo 3 caratteri): <font color="red">*</font></label>
          <input required name="desc" ng-model="outgoing.description" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" id="desc" placeholder='Ad esempio "Ristorate Giapponese", "Bolletta ENEL", etc...' ng-class="{'invalid-field' : insertOutgoing.desc.$error.maxlength}">
        </div>
        <div class="form-group">
          <label for="date">Data: <font color="red">*</font></label>
          <span class="datePickerRight">
            <p class="input-group">
              <input required name="date" id="date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="outgoing.date" ng-model-options="{timezone: timezone}" is-open="popup.opened" datepicker-options="dateOptions" close-text="Chiudi" current-text="Oggi" clear-text="Reset" popup-placement="auto bottom-right" ng-change='validateDate()' ng-class="{'invalid-field' : !isValidDate()}" date-parser/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar fa-1x"></i></button>
            </span>  
            </p>
          </span>
        </div>
        <div class="form-group">
          <label for="expense">Spesa: <font color="red">*</font></label>
          <p class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-eur fa-1x"></i>
            </span>
            <input ng-class="{'invalid-field': insertOutgoing.expense.$invalid}" money-input required min="0" max="100000" precision="2"  name="expense" ng-model="outgoing.expense" class="form-control ng-valid-max ng-dirty ng-valid-parse ng-touched ng-valid ng-valid-min" id="expense">
          </p>
        </div>
     </div>  
     <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label for="causalOutgoing">Causale: <font color="red">*</font></label>
        <select required ng-model="selectedCausal" class="form-control" id="causalOutgoing" ng-options="causal.label for causal in causalList" ng-change="select('causal')">
         <option value='' disabled>- Seleziona una causale -</option> 
       </select>
     </div>
     <div class="form-group" ng-class="{'isdisabled' : !isActive('category')}">
        <label for="categoryOutgoing">Categoria:</label>
        <select ng-model="selectedCategory" class="form-control" id="categoryOutgoing" ng-options="category.label for category in categoryList" ng-change="select('category')">
         <option value='' disabled>- Seleziona una categoria -</option>
         <option value='' disabled>- Nessuna categoria -</option>             
       </select>
     </div>
     <div class="form-group" ng-class="{'isdisabled' : !isActive('subcategory')}">
        <label for="subcategoryOutgoing">Sotto-categoria:</label>
        <select ng-model="selectedSubcategory" class="form-control" id="subcategoryOutgoing" ng-options="subcategory.label for subcategory in subcategoryList">
         <option value='' disabled>- Seleziona una Sotto-categoria -</option>
         <option value='' disabled>- Nessuna sotto-categoria -</option>            
       </select>
     </div>   
   </div>      
 </form>
 <div style="text-align: right; padding-top: 300px">
 <button  ng-disabled="insertOutgoing.$invalid" class="btn btn-black btn-lg" ng-click="createExpense()">
    <i class="fa fa-save fa-2x"></i> Salva spesa
 </button>      
</div>    
</div>
</div>