<div class="application-margin">
    <div class="col-md-12" ng-controller="AdminCtrl">
        
        <h1>Amministrazione</h1>
        <h3>
            Utilizza i pannelli per creare le tue categorie
            <br>
            <small class="block">
                Poi ci scrivero' qualcosa :)
            </small>
        </h3>
        
        <div class="col-md-4 elem-container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Causali</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Simple &lt;ul&gt; list
                        </li>
                        <li class="list-group-item">
                            <span class="badge">7</span>
                            With badges on the right
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        
        <!--<div class="col-md-4 elem-container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categorie</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Simple &lt;ul&gt; list
                        </li>
                        <li class="list-group-item">
                            With badges on the right
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        
        <div class="col-md-4 elem-container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sotto-Categorie</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Simple &lt;ul&gt; list
                        </li>
                        <li class="list-group-item">
                            <span class="badge">7</span>
                            With badges on the right
                        </li>
                    </ul> 
                </div>
            </div>
        </div>-->
    </div>
</div>
